body{
    background-color: #fff5f2;  
    
}

.cont{
    position: relative;
  text-align: center;
  color: white;
 
  margin-right: 20px;
}
.upsc-form{
    margin-top: 100px;
}

.cont img {vertical-align: middle; max-height: 100%;
    max-width: 100%; }

.cont .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 55%;
  padding: 20px;
}
#best{
    color: lightslategray;
}
.lap{
    width: 55%;
}
.upsc{
    font-family: sans-serif, arial;
    font-size: 20px;
    padding-top: 50px;
    color:darkslategrey;
}
.free-demo{
    color:darkslategrey; 
    font-size: 20px;
    text-align: center;
}
#free-demo1{
    color:red;
    text-align: center;
}
.upsc-1{
    font-family: sans-serif, arial;
    font-size: 35px;
}

#btn{
    background-color: #b890fa;
    width: 100%;
}
.select{
    width:100%;
}
#curtain{
    width: 100%;
}

.last-line{
    padding-top: 5px;
    font-size: 15px;
    color: lightgrey;
}


